In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

data = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [3]:
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [5]:
#desicion tree'nin düzgün çalışması için verisetindeki her şeyin rakamsal olması gerek
#bu yüzden Y ve N değerlerini 0 ve 1 olarak değiştireceğiz
duzeltme = {'Y': 1, 'N': 0}

data['IseAlindi']=data['IseAlindi'].map(duzeltme)
data['SuanCalisiyor?'] = data['SuanCalisiyor?'].map(duzetme)
data['Top10 Universite?'] = data['Top10 Universite?'].map(duzetme)
data['StajBizdeYaptimi?'] = data['StajBizdeYaptimi?'].map(duzetme)
duzeltme_egitim = {'BS': 0, 'MS': 1, "PhD": 2}
data['Egitim Seviyesi'] = data['Egitim Seviyesi'].map(duzeltme_egitim)
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [6]:
#sonuç sütununu ayıracağız

y= data['IseAlindi']
X= data.drop (['IseAlindi'], axis=1)

X.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [9]:
#Decision Tree oluşturuluyor..
clsf = tree.DecisionTreeClassifier()
clsf = clsf.fit(X,y)

In [11]:
#tahmin
print(clsf.predict ([[4,0,1,0,0,0]]))

[0]

/Users/dilarabuker/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [13]:
print(clsf.predict ([[3,1,2,1,0,1]]))

[1]

/Users/dilarabuker/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(